wrapper.wrap {
  display: block;
  margin: auto;
  width: 1200px;

  .message_container {
    .incorrect_data {
      background: #ffc4c5;
      background: -moz-linear-gradient(left, #ffc4c5 0%, #ffeaea 22%, #fff9f9 50%, #ffeaea 78%, #ffc4c5 100%);
      background: -webkit-linear-gradient(left, #ffc4c5 0%,#ffeaea 22%,#fff9f9 50%,#ffeaea 78%,#ffc4c5 100%);
      background: linear-gradient(to right, #ffc4c5 0%,#ffeaea 22%,#fff9f9 50%,#ffeaea 78%,#ffc4c5 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc4c5', endColorstr='#ffc4c5',GradientType=1 );
      color: darkred;
      display: block;
      text-align: center;
    }
  }

  .enter_container {
    span.enter_link {
      cursor: pointer;
    }

    form.enter_form {
      display: none;
    }
  }
  .reg_container {
    span.reg_link {
      display: block;
        cursor: pointer;
    }

    form.reg_form {
      display: none;
    }
  }

  .play_container {
    display: block;
    width: 100%;

    .user_data_container {
      border: 1px solid black;
      display: inline-block;
      width: 30%;
    }
  }

  .greeting_quality {
    p.incorrect_quality_data {
      background: #ffc4c5;
      background: -moz-linear-gradient(left, #ffc4c5 0%, #ffeaea 22%, #fff9f9 50%, #ffeaea 78%, #ffc4c5 100%);
      background: -webkit-linear-gradient(left, #ffc4c5 0%,#ffeaea 22%,#fff9f9 50%,#ffeaea 78%,#ffc4c5 100%);
      background: linear-gradient(to right, #ffc4c5 0%,#ffeaea 22%,#fff9f9 50%,#ffeaea 78%,#ffc4c5 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc4c5', endColorstr='#ffc4c5',GradientType=1 );
      color: darkred;
      display: block;
      text-align: center;
    }
  }
}